@model SkillsCub.MVC.ViewModels.StudentExerciseDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section>
    <div class="section-body">
        <div class="container">
            <h2 class="text-light text-center">@Model.Exercise.Name</h2>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <article>
                                    <div class="card-body style-default-dark">
                                        <h2>@Model.Exercise.Name</h2>
                                        <div class="opacity-50">
                                            C @Model.Exercise.OpenDateTime.Date.ToString("D") по @Model.Exercise.CloseDateTime.Date.ToString("D")
                                        </div>
                                    </div>
                                    <div class="card-body style-default-bright">
                                        @Html.Raw(Model.Exercise.ConditionOfProblem)
                                    </div>
                                @if (Model.AttachedFiles != null && Model.AttachedFiles.Any())
                                {
                                    <div class="card-body style-default-bright">
                                        @foreach (var attach in Model.AttachedFiles)
                                        {
                                            <div class="row" id="row-@attach.FileName">

                                                <div class="col-sm-12 col-md-10">

                                                    <p><i class="md md-attach-file"></i>@attach.FileName</p>
                                                </div>
                                                <div class="col-sm-12 col-md-2">
                                                    <a asp-controller="File" asp-action="Download" asp-route-filename="@attach.FileName" asp-route-exerciseId="@Model.Exercise.Id" target="_blank" class="btn ink-reaction btn-default-light">Download</a>
                                                </div>
                                                <hr class="special-hr"/>
                                            </div>
                                        }
                                    </div>
                                }
                                </article><!-- end article -->
                            </div>
                        </div>
                    </div>


                    @if (!string.IsNullOrEmpty(Model.Exercise.AnswerValue))
                    {
                        <div class="card card-tiles style-default-light">
                            <div class="row">
                                <div class="col-sm-12">
                                    <article>
                                        <div class="card-body style-default-dark">
                                            <h2>Ваш ответ</h2>
                                            <div class="opacity-50">
                                                Добавлен @Model.Exercise.AnswerDateTime.ToString("D")
                                            </div>
                                        </div>
                                        <div class="card-body style-default-bright">
                                            @Html.Raw(Model.Exercise.AnswerValue)

                                            @if (Model.Exercise.Mark != 0)
                                            {
                                                <div class="well clearfix">
                                                    <h4>Оценка была добавлена @Model.Exercise.MarkDateTime</h4>
                                                    <p>
                                                        @Model.Exercise.Mark
                                                    </p>
                                                </div>
                                            }
                                        </div>
                                    </article><!-- end article -->
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><!--end .container -->
    </div>
</section>
@section Css
    {
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/libs/summernote/summernote.css" />
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/libs/jquery-ui/jquery-ui-theme.css" />
}
@section Scripts
    {
    <script src="~/js/libs/summernote/summernote.min.js"></script>
    <script src="~/js/core/demo/DemoFormEditors.js"></script>
}
