@model SkillsCub.DataLibrary.Entities.Implementation.Course

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section>
    <div class="section-body">
        <div class="container">
            <h2 class="text-light text-center">@Model.Name</h2>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    @foreach (var item in Model.Exercises.OrderBy(exercise => exercise.OpenDateTime).ToList())
                    {
                        if (item.OpenDateTime.Date <= DateTime.Now.Date)
                        {
                            <div class="card card-tiles style-default-light">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <article>
                                            <div class="card-body style-default-dark">
                                                <h2>@item.Name</h2>
                                                <div class="opacity-50">
                                                    C @item.OpenDateTime.Date.ToString("D") по @item.CloseDateTime.Date.ToString("D")
                                                </div>
                                            </div>
                                            <div class="card-body style-default-bright">
                                                @Html.Raw(item.ConditionOfProblem)
                                                @{
                                                    if (item.CloseDateTime.Date >= DateTime.Now.Date)
                                                    {
                                                        <a asp-action="AddAnswer" asp-route-id="@item.Id" class="btn btn-default">Добавить ответ</a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-action="ExerciseDetails" asp-route-id="@item.Id" class="btn btn-default">Детали</a>
                                                    }
                                                }
                                            </div>
                                        </article><!-- end article -->
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card card-tiles style-default-light">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <article>
                                            <div class="card-body style-default-dark">
                                                <h2>@item.Name</h2>
                                                <div class="opacity-50">
                                                    Откроется @item.OpenDateTime.Date.ToString("D")
                                                </div>
                                            </div>
                                            <div class="card-body style-default-bright">
                                                В данный момент недоступно
                                            </div>

                                        </article><!-- end article -->
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div><!--end .container -->
    </div>
</section>