@model SkillsCub.MVC.ViewModels.CourseDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="section-body contain-lg">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-tiles style-default-light">
                <div class="row">
                    <!-- BEGIN ARTICLES -->
                    <div class="col-sm-9">
                        @{
                            if (Model.Course.Exercises != null)
                            {
                                foreach (var exercise in Model.Course.Exercises)
                                {
                                    <article>
                                        <div class="card-body style-default-dark">
                                            <h2>@exercise.Name</h2>
                                            <div class="opacity-75">C @exercise.OpenDateTime.Date.ToString("D") по @exercise.CloseDateTime.Date.ToString("D")</div>
                                        </div>
                                        <div class="card-body style-default-bright">
                                            @Html.Raw(exercise.ConditionOfProblem)
                                        </div>
                                        <div class="card-actionbar">
                                            <div class="card-actionbar-row">
                                                <a asp-action="EditExerciseForCourse" asp-route-exId="@exercise.Id" class="btn btn-icon-toggle btn-danger ink-reaction pull-left">
                                                    <i class="md md-mode-edit"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@exercise.Id" class="btn btn-icon-toggle btn-default ink-reaction pull-left">
                                                    <i class="md md-delete"></i>
                                                </a>
                                                @if (!string.IsNullOrEmpty(exercise.AnswerValue))
                                                {
                                                    <a asp-action="AddMarkForAnswer" asp-route-exId="@exercise.Id" class="btn btn-flat btn-default-dark ink-reaction">Ответы</a>
                                                }

                                            </div>
                                        </div>
                                    </article>
                                }
                            }
                        }
                        <article>
                            <div class="card-body text-center">
                                <h2>Добавить задачу</h2>
                                <a asp-action="CreateTaskForCourse" asp-route-id="@Model?.Course?.Id" class="btn ink-reaction btn-floating-action btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </article>
                        <!-- end article -->
                    </div><!-- .col -->
                    <!-- END ARTICLES -->
                    <!-- BEGIN BLOG MENUBAR -->
                    <div class="col-sm-3 shadow style-default-bright">
                        <div class="card-head">
                            <header>Чат</header>
                            <header class="text-light">@Model.Course?.Student.FirstName @Model.Course?.Student.Patronymic @Model.Course?.Student.LastName</header>
                        </div>
                        <ul class="nav nav-pills nav-stacked nav-transparent scroll" id="chat" style="height:700px;">
                        </ul>
                        <div class="card-head">
                            <header>Написать</header>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message-text" id="message" class="form-control" rows="3" placeholder="Введите сообщение..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div><!--end .card-body -->
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <button class="btn btn-flat btn-primary ink-reaction" id="send-message-btn" onclick="insertMessage('@Model.Course.StudentId')">Отправить</button>
                            </div>
                        </div>
                    </div><!--end .col -->
                </div>
                <!-- BEGIN BLOG MENUBAR -->
            </div><!-- .row -->
        </div>
    </div><!--end .col -->
</div><!--end .row -->

@section Scripts
    {
    <script src="~/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="~/js/site.js"></script>
}
