@model SkillsCub.MVC.ViewModels.ExerciseModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section>
    <div class="section-body contain-lg">
        <div class="card card-bordered style-primary">
            <div class="card-head">
                <header><i class="fa fa-fw fa-tag"></i> Вы уверены что хотите удалить задание @Model.Name из курса @Model.CourseId</header>
            </div>
            <div class="card-body style-default-bright">
                @Html.DisplayFor(model => model.Name)
                <br><br>
                @Html.Raw(Model.Detail)

                <div class="card-actionbar style-default-bright">
                    <div class="card-actionbar-row">
                        <form method="post">
                            @Html.HiddenFor(model => model.Id)
                            <a class="btn btn-flat btn-default ink-reaction" asp-action="CourseDetails" asp-route-id="@Model.CourseId">Отменить</a>
                            <button type="submit" class="btn btn-flat btn-default ink-reaction">Подтвердить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Css
{
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/libs/summernote/summernote.css"/>
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/libs/jquery-ui/jquery-ui-theme.css"/>
}

@section Scripts
{
    <script src="~/js/libs/summernote/summernote.min.js"></script>
    <script src="~/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/core/demo/DemoFormEditors.js"></script>
    <script src="~/js/core/demo/DemoFormComponents.js"></script>
}